.get-started{
    background-color: #014063;
    height: 85vh;
    color: white;
}

.big-text{
    font-size: 65px;
}

.get-started h4{
    font-size: 23px;
}

.get-started div.w-60{
    width: 50%;
}