<!-- <mat-grid-list class="">
    <div class="  ps-5 d-flex flex-column justify-content-center">
        <div class="ms-5">
            <div class=" w-60 ps-3">
                <div>
                    <h1 class="big-text ">GenAI apps, </h1>
                    <h1 class="big-text mb-4">groudned in your data</h1>
                    <h4 class="smaller-text my-4">Power your applications with knowledgew graphs. Backed by the only graph database with vector search </h4>
                    <div class="my-4">
                        <button mat-flat-button class="me-2">Get Started for Free</button>
                        <button mat-stroked-button class="border-white text-white mx-2">Explore GenAI</button>
                    </div>
                </div>
                <div>
                    <h4 class="smaller-text my-4">INNAVATION LEADERS RELY ON GRAPH</h4>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</dimat-grid-list> -->
<!-- <app-test-nav></app-test-nav> -->
<!-- <div class="p-5 m-5">
    <app-test-component></app-test-component>
    <app-test-form></app-test-form>
    <app-test-dashboard></app-test-dashboard>

</div> -->
