.get-started{
    background-color: #014063;
    height: 85vh;
    color: white;
}

body.theme-dark .mat.get-started{
    background-color: black;
}


.big-text{
    font-size: 65px;
}

.smaller-text{
    font-size: 21px;
    font-weight: 350;
}

.get-started div.w-60{
    width: 50%;
}