// @use 'sass:color';
@use 'sass:map';
@use '@angular/material' as mat;

html {
  --body-font-family: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  --code-font-family: 'Roboto Mono', monospace;
  --gutter: 1rem;
  --sidenav-width: 15rem;
  --sidenav-collapsed-width: 4rem;
}

@mixin theme($theme) {
  $bg-color: mat.get-theme-color($theme,
    if(mat.get-theme-type($theme) == dark, surface-container-high, surface-container));

    --navbar-background-color: #{if(mat.get-theme-type($theme) == dark, rgb(7, 13, 85) , rgb(197, 228, 255))};
    --toggle-button-bg-color: #{if(mat.get-theme-type($theme)== dark, white, black)};
    --toggle-button-color: #{if(mat.get-theme-type($theme)== dark, black, white)};
  --body-background-color: #{$bg-color};
//   --topmenu-item-active-background-color: #{mat.get-theme-color($theme, primary-container)};
//   --topmenu-dropdown-item-active-text-color: #{mat.get-theme-color($theme, primary)};
//   --toast-info-background-color: #{map.get(mat.$azure-palette,
//     if(mat.get-theme-type($theme) == dark, 30, 50))};
//   --toast-success-background-color: #{map.get(mat.$green-palette,
//     if(mat.get-theme-type($theme) == dark, 40, 60))};
}