.navbar{
    background-color: rgb(245, 255, 255);
    position: relative;
}

.width{
    width: 1200px;
    
}
.top-nav-el{
    margin-right: 14px;
    margin-left: 14px;
    cursor: pointer;
    font-size: 14px;
}

.navbar.d-flex.flex-column{
    flex-direction: row !important;
}

img{
    width: 104px;
    height: 37px;
    cursor: pointer;
}

.top-nav-btn{
    border: none !important;
    background-color: transparent;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.top-nav-btn:hover{
    background-color: transparent;
    color: black;
}

.top-nav-btn:focus{
    background-color: transparent;
    color: black;
    outline: none; /* Remove the outline */
    box-shadow: none; /* Remove the box shadow */
}

.top-nav-btn:focus-visible{
    background-color: transparent;
    color: black;
    border: none !important;
    outline: none; /* Remove the outline */
    box-shadow: none; /* Remove the box shadow */
}

.top-nav-btn:active{
    background-color: transparent;
    color: black;
    border: none !important;
    outline: none; /* Remove the outline */
    box-shadow: none; /* Remove the box shadow */
}

.globe.top-nav-btn{
    width: 1.4rem;
    height: 1.4rem;
}

.globe{
    width: 1.4rem;
    height: 1.4rem;
}

.dropdown-menu.show{
    inset: 20px -65px auto auto !important;
}

.nav-link{
    font-weight: 380;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 0;
}

.product-main-btns{
    cursor: pointer;
}

.products-dropdown{
    background-color: rgb(252, 255, 247);
    position: absolute;
}

.dark-mode-toggle{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    color: white;
    font-size: 12px;
    bottom: 20px;
    right: 20px;
    box-shadow:  0px 0px 10px  0px;
    cursor: pointer;
}

h6{
    font-size: 20px;
}
